/* Organized from top to bottom of pages */
/* Font for all */
html{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

/* Title and nav bar */
.container {
    position: sticky; /* Sticks to top even after scrolling */
    top: 0;
    padding-bottom: 2%;
    background-color: rgb(255, 255, 255); /* White background prevents text overlay */
}

.container a{
    text-decoration: none; /* No underline */
}

/* Title */
.home-page {
    text-align: center;
    padding: 1%;
    font-size: 400%;
}

.home-page a{
    color: #0a0303; /* Default color */
    transition: color 0.5s; /* Hover transition time */
}

.home-page a:hover {
    color: rgb(106, 107, 109); /* Hover color */
}

/* Nav bar */
.nav-wrapper {
    display: flex; /* columns for 5 elements in nav bar */
    justify-content: space-evenly ;
    height: 22%;
    padding: 0.9%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(224, 246, 250);
    text-transform: uppercase;
    border-bottom: 1px solid transparent; /* for underline animation */
}

.nav-wrapper a{
    color: #535252; /* Default color */
    transition: color 0.5s; /* Hover transition time */
}

/* Nav bar individual links */
.nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(15, 42, 131); /* Hover underline color and style */
}

.nav-link-wrapper a:hover {
    color: rgb(15, 42, 131); /* Hover text color */
}

/* Nav bar text permanently blue if on the page */
.selected a {
    color: rgb(15, 42, 131);
}

/* About page portrait and description */
.info {
    display: flex;
    flex-direction: row; /* displayed horizontally */
    padding-top: 2%;
    padding-left: 17%;
    padding-right: 17%;
}

/* About page portrait */
.portrait {
    margin-right: -60px; /* Hacky: moves portraits and description closer together */
}

/* About page description */
.about-me {
    margin-left: -60px; /* Hacky: moves portraits and description closer together */
}

/* Projects and leadership tabs logos and reflections */
.experience {
    display: flex;
    flex-direction: row; /* displayed horizontally */
    margin-top: -13px; /* Hacky: moves title and descriptions closer together */
    padding-left: 17%;
    padding-right: 25%;
    align-items: center;
}

.logo {
    padding-left: 5%;
}


/* As heading numbering increases, size decreases/
/* Heading 1 */
h1 {
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 1%;
    font-weight: normal;
    font-size: 200%;
}

/* Heading 2 */
h2 {
    padding-left: 20%;
    font-weight: normal;
    font-size: 150%;
}

/* Heading 3 used for dates in honors tab */
h3 {
    padding-top: 0.8%;
    padding-right: 20%;
    font-weight: normal;
    font-size: 100%;
    color: #5c5b5b;
}

/* Heading 4 used for descriptions in honors tab */
h4 {
    float: left;
    margin-top: -10px; /* Hacky: moves title and description closer together */
    padding-left: 20%;
    padding-right: 15%;
    font-weight: normal;
    font-size: 100%;
}

/* Paragraph texts */
p {
    line-height: 150%; /* Line spacing */
    margin-top: 1%;
    text-align: justify; /* Evenly spaces words in line */
}

/* Footer with icon links and below texts */
footer {
    clear: both; /* Always last item on page */
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: rgb(255, 255, 255);
    line-height: 150%;
    text-align: center;
    color: #aaa6a6;
}

/* Icon links */
.links {
    display: flex; 
    flex-direction: row; /* 4 icons horizontally aligned */
    align-items: center;
    justify-content: space-evenly;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 1%;
}

