html, body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #222;
}

h2 {
  font-weight: bold;
  font-size: 150%;
}

h3 {
  color: grey;
  text-align: bottom;
  font-size: 120%;
}

h4 {
  padding-bottom: 2%;
  padding-left: 9%;
  padding-right: 9%;
  margin-top: -2%;
  font-size: 110%;
}

.display-3 {
  font-size: 300%;
}

.display-5 {
  color: rgb(103, 19, 155);
}

.bottom-column {
    align-self: flex-end;
}

.center-column {
  align-self: center;
}

.padding {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left:9%;
  padding-right:9%;
}

/*---Nav bar --*/
.navbar {
  border-bottom: 1px solid rgb(184, 183, 183);
  background-color: rgb(224, 246, 250);
  border-bottom: 1px solid  rgb(177, 235, 245);
}

.navbar-name {
  color: rgb(49, 49, 49);
}

.navbar-name:hover {
  color: rgb(119, 119, 119);
  text-decoration: none;
}

.nav-link {
  font-size: 120%;
}

.nav-item a {
  border-bottom: 1px solid transparent;
}

.nav-item a:hover {
  text-decoration: underline;
}

/*---Projects --*/
.btn-outline-secondary {
  background-color: rgb(131, 162, 250);
  color:white;
  border: none;
}

.photo-credits {
  color: grey;
}

/*---Experience --*/
.even {
  background-color: rgb(216, 216, 216);
  border-bottom: 1px solid rgb(129, 129, 129);
  border-top: 1px solid rgb(129, 129, 129);
}

/*---Contact --*/
.form-group {
  margin-bottom: -1.5%;
}

.btn-primary {
  background-color: rgb(103, 19, 155);
  border: none;
}

.contact-submit {
  padding-top: 2%;
  padding-bottom: 2%;
}

/*---Footer--*/
.social a {
  font-size: 350%;
  padding: 3.7%;
}

.fa-id-card {
  color: #323333;
}

.fa-envelope {
  color: #D44638;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github {
  color: #6e5494;
}

.fa-graduation-cap {
  color: #4285F4;
}

.fa-id-card:hover,
.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-graduation-cap:hover {
  color: #d5d5d5;
}

footer {
  background-color: rgb(252, 240, 227);
  border-top: 1px solid rgb(241, 191, 140);
}


/*---Media Queries --*/
@media (min-width: 1500px) {
  body, html{
    font-size: 120%;
  }

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  .social a {
    font-size: 250%;
    padding: 5%;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








